.icon-button-bar-container {
	height: 100%;
	background-color: #161616;
	max-width: $spacing-09;
	position: fixed;
	top: $spacing-09;
}

.security--icon-button-bar {
	flex-direction: column;
}

.security--button--icon {
	color: #fff;
}

.security--button--icon:hover,
.security--button--icon:focus {
	background-color: #4c4c4c;
}

.security--button--icon:active {
	border-left: 4px #0f62fe solid;
	outline: none;
}

.link-selected{
	border-left: 4px #0f62fe solid;
	background-color: #4c4c4c;
}
